<h1>Main#index</h1>
<div class="padded-body">
  <h2>Generate and Download Sample XML Document</h2>
  <p>Clicking on one of these links will generate the sample XML file we're going to be
    using for this tutorial. One link will generate the XML using REXML, and the other link
    using Builder. I'll leave it as an exercise for the reader to figure out which link does what.</p>
  <div style="text-align: center;">
    <%=link_to "Generate Using REXML", :action => 'index' %>
    <%=link_to "Generate Using Builder", :action => 'index' %>
  </div>
</div>



<p>main.index </p>
